<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663510636375-qqid1df45ti97oo0ktf1v78eh559n1su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663510636375-qqid1df45ti97oo0ktf1v78eh559n1su</string>
	<key>API_KEY</key>
	<string>AIzaSyBfcVPfWwYFhzHGuyWKml9q4ArYFyXapcE</string>
	<key>GCM_SENDER_ID</key>
	<string>663510636375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevy.FudarTruck</string>
	<key>PROJECT_ID</key>
	<string>fudar-2c952</string>
	<key>STORAGE_BUCKET</key>
	<string>fudar-2c952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663510636375:ios:d835033b3ac96e55</string>
	<key>DATABASE_URL</key>
	<string>https://fudar-2c952.firebaseio.com</string>
</dict>
</plist>